/*lettering.js*/

.char1  {color:$orange;}
.char2  {color:$cyan;}
.char3  {color:$yellow;}
.char4  {color:$green;}
.char5  {color:$red;}
.char6  {color:$magenta;}
.char7  {color:$violet;}
.char8  {color:$blue;}
.char9  {color:$cyan;}
.char10  {color:$green;}
.char11  {color:$orange;}
.char12  {color:$yellow;}
.char13  {color:$blue;}
.char14  {color:$red;}
.char15  {color:$magenta;}
.char16  {color:$violet;}
.char17  {color:$cyan;}
.char18  {color:$yellow;}
.char19  {color:$orange;}
.char20  {color:$red;}
.char21  {color:$yellow;}
.char22  {color:$green;}
.char23  {color:$red;}
.char24  {color:$magenta;}
.char25  {color:$violet;}
.char26  {color:$blue;}
.char27  {color:$cyan;}
.char28  {color:$green;}
.char29  {color:$orange;}
.char30  {color:$cyan;}
.char31  {color:$yellow;}
.char32  {color:$orange;}
.char33  {color:$red;}
.char34  {color:$magenta;}
.char35  {color:$green;}