// slick-sliders adjustements
.slick-slider.slider-basic {
	margin:0;
}
.wrapper {
	position: relative;
	padding: rem-calc(20) 0;
}
.wrapper.brand {
	padding: 0;
}
.top-bar svg {
	width: 1.8rem;
	float:left;
	position: relative;
	margin: 0;
	padding: 0;
}